@import "tailwindcss";

@font-face {
    font-family: "silka-mono";
    src: url("/fonts/SilkaMono-Regular.otf") format("opentype");
}

@theme {
    --font-primary: "silka-mono", sans-serif;

    --color-dark: #2b2f2d;
    --color-bright: #e6e6e6;
    --color-primary: #6b848d;
    --color-secondary: #ece5d3;
    --color-deepBlue: #283f48;

    --screens-sm: 640px;
    --screens-md: 768px;
    --screens-lg: 1024px;
    --screens-xl: 1280px;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-weight: 400;
    scroll-behavior: smooth;
    @apply text-deepBlue bg-secondary dark:bg-primary dark:text-bright;
}
