@import "tailwindcss";

@font-face {
    font-family: "SilkaMona";
    src: url("/fonts/SilkaMono-Regular.otf") format("otf");
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SilkaMona", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

@theme {
    --color-dark: #2b2f2d;
    --color-bright: #e6e6e6;
    --color-primary: #6b848d;
    --color-secondary: #ece5d3;
    --color-deepBlue: #283f48;

    --screens-sm: 640px;
    --screens-md: 768px;
    --screens-lg: 1024px;
    --screens-xl: 1280px;
}
