@import "tailwindcss";

@font-face {
    font-family: "silka-mono";
    src: url("/fonts/silka-mono/SilkaMono-Regular.otf") format("opentype");
}

@font-face {
    font-family: "prometo";
    src: url("/fonts/prometo/Prometo_Trial_Md.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@theme {
    --font-primary: "silka-mono", sans-serif;
    --font-secondary: "prometo", sans-serif;
    --font-tertiary: "montserrat", sans-serif;

    --color-dark: #2b2f2d;
    --color-bright: #e6e6e6;
    --color-primary: #6b848d;
    --color-secondary: #ece5d3;
    --color-deepBlue: #283f48;

    --screens-sm: 640px;
    --screens-md: 768px;
    --screens-lg: 1024px;
    --screens-xl: 1280px;

    --spacing-sm: 640px;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-weight: 400;
    scroll-behavior: smooth;
    @apply text-deepBlue bg-secondary dark:bg-primary dark:text-bright;
}

p {
    font-family: var(--font-tertiary);
    font-weight: 400;
    font-size: var(--text-xs);
}
