---
import CommonSvg from "./commons/common-svg.astro";

const links = [
  {
    label: "Agences",
    href: "/",
  },
  {
    label: "Services",
    href: "/about",
  },
  {
    label: "Réalisations",
    href: "/services",
  },
  {
    label: "Contact",
    href: "/contact",
  },
];
---

<nav
  id="navbar"
  class="w-full fixed z-20 transition-all duration-300 text-bright font-secondary"
>
  <div class="max-w-screen-xl mx-auto p-8">
    <div class="flex w-full h-20 lg:w-auto justify-between items-center">
      <a href="/" class=""> Sous bois </a>
      <ul class="flex flex-row gap-12 lowercase">
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                class="text-bright hover:text-deepBlue dark:hover:text-bright"
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
