---
import CommonSvg from "./commons/common-svg.astro";

const links = [
  {
    label: "Agences",
    href: "/",
  },
  {
    label: "Services",
    href: "/about",
  },
  {
    label: "Réalisations",
    href: "/services",
  },
  {
    label: "Contact",
    href: "/contact",
  },
];
---

<header
  id="header"
  class="w-full fixed z-20 transition-all duration-300 text-bright font-secondary"
>
  <div class="max-w-screen-xl mx-auto p-8">
    <div
      class="flex flex-col lg:flex-row w-full justify-between items-center relative"
    >
      <div class="flex w-full lg:w-auto justify-between items-center">
        <a href="/" class=""> Sous bois </a>
        <div class="block lg:hidden">
          <button id="toggle-menu" aria-label="Toggle Menu">
            <svg
              fill="currentColor"
              class="w-6 h-6 text-bright hover:text-bright"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Toggle Menu</title>
              <path
                class="astronav-close-icon astronav-toggle hidden"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"
              ></path>
              <path
                class="astronav-open-icon astronav-toggle"
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <nav
        class="hidden w-full bg-dark mt-8 lg:bg-transparent rounded-md lg:w-auto p-4 gap-4 lg:flex lg:mt-0"
      >
        <ul class="flex flex-col gap-6 lg:flex-row lg:gap-12 lowercase">
          {
            links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-bright hover:text-deepBlue dark:hover:text-bright"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<script is:inline>
  const listLink = document.querySelectorAll("a");
  const button = document.querySelector("#toggle-menu");
  [...listLink, button].forEach((el) => {
    el.addEventListener("click", () => {
      const nav = document.querySelector("nav");
      nav.classList.toggle("hidden");
    });
  });
</script>
<script is:inline>
  var isOverlayed = false;
  const onScroll = () => {
    isOverlayed = window.scrollY > 64;
    const header = document.querySelector("#header");
    const listHiddenContent = document.querySelectorAll(
      "[data-display='hidden']"
    );
    listHiddenContent.forEach((el) => {
      el.classList.toggle("opacity-100", isOverlayed);
      el.classList.toggle("opacity-0", !isOverlayed);
    });
    header.classList.toggle("bg-dark", isOverlayed);
    header.classList.toggle("shadow-lg", isOverlayed);
    header.classList.toggle("bg-transparent", !isOverlayed);
  };

  document.addEventListener("scroll", onScroll);
  onScroll();
</script>
