---
import HomeNavbar from "@/components/home-navbar.astro";
import CommonHeader from "../components/commons/common-header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sous-bois Architecture</title>
    <CommonHeader />
  </head>
  <body class="min-h-screen">
    <HomeNavbar />
    <slot />
  </body>
</html>

<style></style>
