---
import CommonHeader from "../components/commons/common-header.astro";
import IndexNavbar from "@/components/index-navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sous-bois Architecture</title>
    <CommonHeader />
  </head>
  <body class="min-h-screen">
    <IndexNavbar />
    <slot />
  </body>
</html>
<script is:inline>
  var prevScrollpos = window.scrollY;
  window.addEventListener("scroll", () => {
    /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
    var currentScrollPos = window.scrollY;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("header").style.top = "0";
    } else {
      document.getElementById("header").style.top = "-120px";
    }
    prevScrollpos = currentScrollPos;
    hasBeenScrolled = true;
  });
</script>
